<template name="attendeePage">
  {{#if activeEventId}}
  <div>
    <h4>
    	Attendees for {{title}}
		<button type="button" class="close" aria-hidden="true" href="#">&times;</button>
	</h4>
    <hr>
	{{#each attendees}}
		<div class="messageHeader">
			<strong>Name:</strong>
		</div>
		<div class="messageContent">
			{{attendeeName}}
		</div>
		<div class="messageHeader">
			<strong>Email:</strong>
		</div>
		<div class="messageContent">
			{{attendeeEmail}}
		</div>
		<br>
		{{#if attendeeMessage}}
			<div class="messageHeader">
				<strong>Message:</strong>
			</div>
			<div class="messageContent">
				{{attendeeMessage}}
			</div>
			<br>
		{{/if}}
		<br>
		<hr>
	{{/each}}
	<a class="btn btn-default js-cancel" href="#">Close</a>
	<a class="btn btn-default js-email" href="#">Email Attendees</a>
  </div>
  {{else}}
  	<div class="wrapper attendee-page">
  	<div class="pull-right">
	  	<a href="" class="link js-back">
	  		<span class="glyphicon glyphicon-arrow-left"></span> Back to all events
		</a>
	</div>
  	<br/>
    <h4>
    	Attendees for {{title}}
	</h4>
    <hr>
	{{#each attendees}}
		<div class="attendee-list">
			<div class="messageHeader">
				<strong>Name:</strong>
			</div>
			<div class="messageContent">
				{{attendeeName}}
			</div>
			<div class="messageHeader">
				<strong>Email:</strong>
			</div>
			<div class="messageContent">
				{{attendeeEmail}}
			</div>
			<br>
			{{#if attendeeMessage}}
				<div class="messageHeader">
					<strong>Message:</strong>
				</div>
				<div class="messageContent">
					{{attendeeMessage}}
				</div>
				<br>
			{{/if}}
			<br>
		</div>
		<hr>
	{{/each}}
	<a class="btn btn-default js-email" href="#">Email Attendees</a>
	{{#if emailAttendees}}
	    <div class="overlay"></div>
	    <div class="popup event-edit">
			{{> emailAttendees}}
		</div>
	{{/if}}
  </div>
  {{/if}}
</template>