<template name="carouselPage">
	<div class="main-page"></div>
	<div class="main-text clearfix">
		<h2> Organize a bundle of events</h2>
		<br/>
		<p> Plan events with friends for a birthday, recovering from an injury, comedy festivals, beer weeks
		<p>...or whatever you come up with</p>
		<br/>
		<button class="btn btn-lg btn-primary">Get Started</button>
		<button class="btn btn-lg btn-default">See Examples</button>
	</div>
	<div class="sample-img clearfix">
		<img class="sample" src="/sample_uncrop.png"/>
	</div>
</template>