<template name="carouselPage">
	<div class="main-page"></div>
	<div class="main-text clearfix">
		<h2> Organize a bundle of events</h2>
		<br/>
		<p> Plan events with friends for a birthday, recovering from an injury, comedy festivals, beer weeks</p>
		<p>... or whatever you come up with</p>
		<br/>
		<button class="btn btn-lg btn-primary js-newaccount" href="#">Get Started</button>
		<button class="btn btn-lg btn-default js-examples">See Examples</button>
	</div>
	<div class="sample-img clearfix">
		<img class="sample" src="/home.png"/>
	</div>

	{{#if createAccount}}
      <div class="overlay"></div>
      <div class="popup popup300">
        {{> loginPage}}
      </div>
    {{/if}}
</template>