<template name="header">
{{#if currentUser}}
  <nav class="navbar navbar-default navbar-static" role="navigation">
    <div class="navbar-container">
      <!-- Collapsing disabled for now -->
      <div class="navbar-header">
        <a class="navbar-brand" href="{{pathFor 'occasionsList'}}">eventium</a>
        <ul class="nav navbar-nav">
          <li><a href="{{pathFor 'occasionsList'}}">Home</a></li>
          <li><a href="#">How it Works</a></li>
          <li><a href="#">Samples</a></li>
          <li><a href="#">FAQs</a></li>
        </ul>
      </div>
      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            {{> notifications}}
          </li>
        <li class="nav navbar-nav">{{loginButtons}}</li>
      </ul>
  </div><!-- /.navbar-container -->
</nav>
{{else}}
<nav class="navbar navbar-default navbar-static main-navbar" role="navigation">
    <div class="navbar-container">
      <!-- Collapsing disabled for now -->
      <div class="navbar-header">
        <a class="navbar-brand" href="{{pathFor 'occasionsList'}}">eventium</a>
        <ul class="nav navbar-nav">
          <li><a href="{{pathFor 'occasionsList'}}">Home</a></li>
          <li><a href="#">How it Works</a></li>
          <li><a href="#">Samples</a></li>
          <li><a href="#">FAQs</a></li>
        </ul>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav navbar-nav">{{loginButtons}}</li>
      </ul>
  </div><!-- /.navbar-container -->
</nav>
{{/if}}
</template>