<template name="occasionsList">
  <div class="wrapper">
    {{#if currentUser}}
    <div class="occasionList-title clearfix">
        <h2 class="pull-left"> Your Eventium Inventory</h2>
        <a href="#" class="pull-right btn attend btn-primary js-createoccasion">New Eventium</a>
    </div>

    {{#if occasionCount}}
      <div class="occasions">
        {{#each occasions}}
      		{{> occasion}}
        {{/each}}
      </div>
      {{else}}
        <div class="sans-occasions">
          <h2> There's nothing here yet</h2>
          <p> Get started and
          <a href="#" class="btn attend btn-primary js-createoccasion">Create a New Eventium</a></p>
        </div>
      {{/if}}
    {{else}}
      {{> carouselPage}}
    {{/if}}
  
    {{#if createOccasion}}
    	<div class="overlay"></div>
    	<div class="popup event-edit">
      	{{> occasionCreate}}
    	</div>
  	{{/if}}

    {{#if editOccasion}}
      <div class="overlay"></div>
      <div class="popup event-edit">
        {{> occasionEdit}}
      </div>
    {{/if}}
  </div>
</template>